<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        TravelPlay
    </title>

    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">


</head>



<body>


    <div class="container">
        <form class="save_user_form" action="/save_user" method="POST">
            <div class="row ">
                <div class="col-xs-12">


                        <% if (typeof(session)!="undefined"  
                           && typeof(session.auth)!="undefined"  
                           && typeof(session.authed_user)!="undefined"  
                           && session.auth==1) { %>
                            <h2>
                                HELLO AUTHED USER
                            </h2>
                            <% } %>



                </div> 
            </div>
            <div class="row ">
                <div class="col-xs-6">
                    <div class="trips" data-trips>


 

                        <% 
                       var trips=[];
                       
                       if (typeof(session)!="undefined"  
                           && typeof(session.auth)!="undefined"  
                           && typeof(session.authed_user)!="authed_user"  
                           && session.auth==1) 
                         trips=session.authed_user.trips;
                        %>
 
                        <%
                        for(i=0;i<trips.length; i++) {  
                            var trip=trips[i];
                        %>

                            <div class="trip" data-trip>
                                <label for="trip_<%=i%>">
                                    <input type="checkbox"  data-trip_active
                                     checked="checked" id="trip_<%=i%>" />
                                     <span class="trip_city_text"><%=trip.city%></span> 
                                     <span class="trip_country_text"><%=trip.country%></span> 
                                     <span class="trip_start_text"><%=trip.start%></span> 
                                     <span class="trip_start_text"><%=trip.end%></span> 
                                     </label>
                                <input type="hidden" data-trip_city value="<%= trip.city%>">
                                <input type="hidden" data-trip_country value="<%= trip.country  %>">
                                <input type="hidden" data-trip_start value="<%= trip.start%>">
                                <input type="hidden" data-trip_end value="<%= trip.end%>">
                            </div>

                            <%
                        }
                   
                          %>



                    </div>
                    <a href="/tripitrequesttoken" id="Tripit" class="button red_button">Tripit</a>
                    <div class="add_trip_div" data-add_trip_div>
                        <span class="helper" data-show_more>Add trips</span>
                        <div class="hidden" data-show_content>
                            <div data-add_trip_form>
                                <label><input class="" value="" data-new_city> City</label> <br>
                                <label><input class="" value="" data-new_start> Start date</label><br>
                                <label><input class="" value="" data-new_end> End date</label><br>
                                <label><input type="checkbox" class="" value="" data-new_us>  US?</label><br>
                                <a href="#" id="more_trips" class="button red_button">Add a trip</a>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-xs-6">
                    <div class="bands" data-bands>
                
                   
                       
                        <% 
                       var bands=[];
                       
                    if (typeof(session)!="undefined"  
                           && typeof(session.auth)!="undefined"  
                           && typeof(session.authed_user)!="authed_user"  
                           && session.auth==1) 
                                                bands=session.authed_user.bands;            
                     
                             for(i=0;i<bands.length; i++) {
                                var band=bands[i].band;
                            %>
                                    <div class="band" data-band>
                                        <label for="band_<%=i%>">
                                            <input type="checkbox" data-band_active class="band_active"
                                            checked="checked" id="band_<%=i%>" value="<%=band%>"  />
                                            <%=band%>
                                </label>
                                    </div>


                              <% }   %>


              
                    </div>



                    <br>
                    <a id="Spotify" href="<%=auth_url%>" class="button red_button">Spotify</a>
                    <div class="add_band_div" data-add_band_div>
                        <span class="helper" data-show_more>Add bands</span>
                        <div class="hidden" data-show_content>
                            <div data-add_band_form>
                                <label><input class="" value="" data-new_band> Band </label> <br>
                                <a href="#" id="more_bands" class="button red_button">Add a band</a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a href="#" id="brb" class="button red_button">Save</a>
                </div>
            </div>
        </form>
    </div>









    <footer class="footer">
        <hr>
        <p>&copy; 2016 Company, Inc.</p>
    </footer>

    </div>
    <!-- /container -->


    <style>
.bands {
 max-height: 200px;
 overflow: auto;
}

        .container {
            color:#4b5462;
            background-color: rgba(255, 255, 255, 0.6);
            margin-top:10%;          
             
        }
       
         .following {
    clear: both;
    padding: 10px 100px;
    border-bottom: 3px solid #e31212;
    min-height: 60px;         
         }
 .following.id_style {
     vertical-align: super;
    font-size: 12px;
 }
 .following .band_name {
     font-size: 24px;
 }
 .tickets_following .band_name {
     font-size: 14px;
 }

    .tickets_following {
     border-bottom: 1px solid #e31212;
          }


.related {
    text-align: left;
    clear:both;
    padding: 10px;
 }
 .id_style {
     vertical-align: super;
    font-size: 10px;
 }
 .band_name {
     font-size: 20px;
 }





.all_info {
    margin:20px;
}
.all_info_json {
    margin-top:10px;
}

.tickets_following.has_concert {
    font-size: 24px;
    background-color: white;
}
.this_is_error {
    color:#e31212;
    background: #FFF;
    border:2px solid black;
}
        .response {
            font-size: 16px;
            padding: 10px;
            border: #eee 2px solid;
            border-collapse: collapse;
            margin: 4px;
        }
        
        .responses td {
            vertical-align: top;
        }
        
        .response_price {
            color: #e31212;
            font-weight: bold;
            word-break: break-word;
        }
        
        .response_title {
            color: #281557;
            font-size: 22px;
            word-break: break-word;
        }
        
        .text_block {
            text-align: center;
            word-break: break-word;
        }
        
        .text_block div {
            margin: 10px 0;
        }
        
        .image_block {
            text-align: center;
        }
        
        .request {
            word-break: break-all;
            clear: both;
            padding: 70px 0;
        }
        
        .requests {
            padding: 0;
            margin: 0;
            list-style-type: none;
            margin: 60px 0;
        }
        
        .helper {
            display: inline-block;
            border-bottom: 1px dashed #55d5ff;
            color: #55d5ff;
            margin: 10px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
        }
        
        .helper:hover {
            border-bottom: 1px dashed #FFF;
        }
        
        #subscribe_form label {
            margin: 10px 0;
        }
        
        #subscribe_form input {
            margin-bottom: 10px;
        }
        
        ul.what_ul {
            list-style-type: katakana;
            color: red;
        }
        
        ul.what_ul .content {
            color: #000;
        }
        
        .what_img_block {
            text-align: center;
        }
        
        .what_number {
            font-size: 41px;
            color: #FF0000;
        }
        
        .what_text {
            font-size: 28px;
        }
        
        .what_img {
            display: inline-block;
        }
        
        body {
            color: #FFF;
            background-color: #4b5462;
            background-position: 0px 0px;
            background-image: url(http://galaktika.hu/wp-content/uploads/2016/02/maxresdefault2.jpg);
            background-size: cover;
            background-repeat: repeat;
            text-align: center;
        }
        
        .jumbotron .lead {
            font-size: 32px;
        }
        
        .jumbotron h1 {
            font-size: 64px;
        }
        
        .button {
            border-radius: 4px;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            line-height: 24px;
            padding: 12px 24px;
            text-align: center;
            text-decoration: none !important;
            transition: opacity 0.1s ease-in;
            color: #fff;
        }
        
        .button:hover {
            color: #fff;
        }
        
        .button:focus {
            color: #fff;
        }
        
        .red_button {
            background-color: #e31212;
        }
        
        .red_button:hover {
            background-color: #ff0000;
        }
        
        .grey_button {
            background-color: #827f7f;
        }
        
        .grey_button:hover {
            background-color: #a7a5a5;
        }
        
        .big_button {
            width: 100%;
            padding: 18px 32px;
            font-size: 22px;
            margin: 20px 0;
        }
        
        .footer {
            border-top: 1px solid #4b5462;
            padding-top: 10px;
            color: #4b5462;
            margin: 20px 0;
            font-size: small;
            text-align: center;
            background-color: #FFF;
        }
    </style>


<script type='text/javascript' src="./js/jquery-latest.js"></script>

<script type='text/javascript' src="./js/bootstrap.min.js"></script>
<script type='text/javascript' src="./js/URI.js"></script>
<script type="text/javascript">

function createCookie(name,value,days) {
	if (days) {
		var date = new Date();
		date.setTime(date.getTime()+(days*24*60*60*1000));
		var expires = "; expires="+date.toGMTString();
	}
	else var expires = "";
	document.cookie = name+"="+value+expires+"; path=/";
}

function readCookie(name) {
	var nameEQ = name + "=";
	var ca = document.cookie.split(';');
	for(var i=0;i < ca.length;i++) {
		var c = ca[i];
		while (c.charAt(0)==' ') c = c.substring(1,c.length);
		if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
	}
	return null;
}

function eraseCookie(name) {
	createCookie(name,"",-1);
}


        function createTrip(city, start, end, US, i) {
            return '                   <div class="trip" data-trip>'
                + '                                <label for="trip_' + i + '">'
                + '                                    <input type="checkbox"  data-trip_active'
                + '                                     checked="checked" id="trip_' + i + '" />'
                + '                                     <span class="trip_city_text">' + city + '</span> '
                + '                                     <span class="trip_start_text">' + start + '</span> '
                + '                                     <span class="trip_start_text">' + end + '</span> '
                + '                                     </label>'
                + '                                <input type="hidden" data-trip_city value="' + city + '">'
                + '                                <input type="hidden" data-trip_us value="' + US + '">'
                + '                                <input type="hidden" data-trip_start value="' + start + '">'
                + '                                <input type="hidden" data-trip_end value="' + end + '">'
                + '                            </div>'
                + '';
        }

        function createBand(band, i) {


            return '<div class="band" data-band>'
                + '<label for="band_' + i + '">'
                + '             <input type="checkbox" data-band_active class="band_active"'
                + '              checked="checked" id="band_' + i + '" value="' + band + '"  />'
                + '             ' + band + ''
                + ' </label>'
                + ' </div>';



        }



    $(function () {

        function start() {
            if(readCookie("spotifyAuthTry")) {
                $("#Spotify").click(); 
                eraseCookie("spotifyAuthTry");
            }
            if(readCookie("tripItAuthTry")) {
                $("#Tripit").click(); 
                console.log("go tripit 1");
                eraseCookie("tripItAuthTry");
            }
 
        }


         

        $("#more_bands").click(function (e) {
            e.preventDefault();
            var band_name = $("[data-new_band]").val();

            //check all;
            var check = band_name;
            if (check) {
                var band = createBand(band_name, $("[data-band]").length + 1);
                $('[data-bands]').prepend(band);
            } else {
                alert("Band name is empty");
            }
        });


        $("#more_trips").click(function (e) {
            e.preventDefault();
            var city = $("[data-new_city]").val();
            var start = $("[data-new_start]").val();
            var end = $("[data-new_end]").val();
            var us = 0;

            if ($("[data-new_city]").is(":checked"))
                us = 1;
            //check all;
            var check = city && start && end;
            if (check) {
                var trip = createTrip(city, start, end, us, $("[data-trip]").length + 1);
                $('[data-trips]').prepend(trip);
            } else {
                alert("One field is empty");
            }
        });

        $("#Spotify").click(function(e){
            e.preventDefault();
            var auth_url=$(this).attr("href");
           $.ajax({
                type: "GET",
                url: "/getspotifyartists",
                complete: function (data) {
                    //console.log(data);
                    var result=data.responseText;
                    if(data.responseJSON && data.responseJSON.err) {
                        createCookie("spotifyAuthTry",1,1);
                        window.location.replace(auth_url);
                    } else {
                        //console.log(result);
                        $("[data-bands]").html(result);
                        eraseCookie("spotifyAuthTry");
                    }

                },
                dataType: 'json'
            });            

        })

        $("#Tripit").click(function(e){
                    e.preventDefault();
                    console.log("go trup")
                    var auth_url=$(this).attr("href");
                    $.ajax({
                            type: "GET",
                            url: "/tripittrips",
                            complete: function (data) {
                                //console.log(data);
                                var result=data.responseText;
                                if(data.responseJSON && data.responseJSON.err) {
                                     createCookie("tripItAuthTry",1,1);
                                    window.location.replace(auth_url);
                                } else {
                                    //console.log(result);
                                    $("[data-trips]").html(result);
                                    eraseCookie("tripItAuthTry");
                                }

                            },
                            dataType: 'json'
                        });            
       })


        $("#brb").click(function (e) {
            e.preventDefault();
            var form = $(this).parents("form");
            var rbody = {};
            rbody.active = 1;
            rbody.updateDate = Date();
            rbody.email = "test2@test.com";


            var tripForms = form.find("[data-trip]");

            var trips = [];
            $.each(tripForms, function (i, el) {
                el = $(el);
                if (el.find("[data-trip_active]").is(":checked")) {
                    var trip = {};
                    trip.city = el.find("[data-trip_city]").val();
                    trip.country = el.find("[data-trip_country]").val();
                    trip.start = el.find("[data-trip_start]").val();
                    trip.end = el.find("[data-trip_end]").val();
                    trips.push(trip);
                }
            });
            rbody.trips = trips;

            var bandForms = form.find("[data-band]");

            var bands = [];
            $.each(bandForms, function (i, el) {
                el = $(el);
                if (el.find("[data-band_active]").is(":checked")) {
                    var band = {"band":el.find("[data-band_active]").val().trim().toLowerCase(),"additional_info":{"band_name_original":el.find("[data-band_active]").val()}};
                    bands.push(band);
                }
            });

 
            rbody.bands = bands;
            console.log(rbody);

            $.ajax({
                type: "POST",
                url: "/save_user",
                data: rbody,
                complete: function (data) {
                    console.log(data);
                },
                dataType: 'json'
            });
        });

        $("[data-show_more]").click(function (e) {
            $(this).parent().find("[data-show_content]").toggleClass("hidden");
        });

        $("#show_json").click(function (e) {
            $(this).parent().find(".all_info_json").toggleClass("hidden");
        });
        $(".show_help").click(function (e) {
            $("#what_to_do").toggleClass("hidden");
        });

        $("[data-action=loadMore]").click(function (e) {
            e.preventDefault();
            var this_button = $(this);
            var table_body = $(this).parent().find("table tbody");
            var max_fetch = $(this).attr("data-max_fetch") * 1;
            var from = table_body.find(".response").length;
            var to = from * 1 + max_fetch;

            var intro_data = { from: from, to: to, type: "html", max_fetch: max_fetch }
            $.get("./request/" + $(this).attr("data-id") + "/responses", intro_data, function (data) {
                if (data == "") {
                    console.log("Nothing found.");
                    this_button.hide();
                }
                else {
                    table_body.append(data);
                    console.log("Load was performed.");
                }
            });


        })

                start();  

    });



</script>



</body>

</html>