<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Wanderlust
    </title>

    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">


    <style>
        html {
            position: relative;
            min-height: 100%;
        }
        
        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }
        
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            background-color: #f5f5f5;
        }
        
        .container .text-muted {
            margin: 20px 0;
        }
        
        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        table tr td{
            word-break: break-word;
        }        
    </style>

</head>



<body>
    <a class="btn btn-default pull-right" style="margin: 20px 5px" href="/logout">Exit</a>
    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/my_results">My findings</a>
    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/my_trips">My trips</a>
    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/my_artists">My artists</a>    
    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/">Home</a>
        <div class="clearfix"><br></div>
        <div class="container">



            <div class="text-center">
                <h1>Wanderlust</h1>
            </div>
            <p class="lead text-center">Some punchline text</p>
            <hr>
                <input type="hidden" data-user_id value="<%=session.authed_user._id%>">
                <div class="trips_block">
                    <h3>Trips</h3>

                    <% 
                var trips=[]; 
                if(session.authed_user.trips && session.authed_user.trips.length>0)
                trips=trips.concat(session.authed_user.trips);

                if( typeof tripItResult !== 'undefined' && tripItResult) 
                    trips=trips.concat(tripItResult);

            %>


                        <table class="table" >
                            <thead>
                                <tr>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Start
                                    </th>
                                    <th>
                                        Finish
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        Results
                                    </th>
                                     <th>
                                        Actions
                                    </th>                                   
                                </tr>
                            </thead>
                            <tbody data-trips>
                                <%
                
                for(i=0;i<trips.length; i++) {  
                    var trip=trips[i];


                %>
                                    <tr class="trip" data-trip>
                                        <td>
                                            <input type="hidden" data-trip_city value="<%= trip.city%>">
                                            <input type="hidden" data-trip_country value="<%= trip.country  %>">
                                            <input type="hidden" data-trip_start value="<%= trip.start%>">
                                            <input type="hidden" data-trip_end value="<%= trip.end%>">
                                            <% if(trip.id) {%> <input type="hidden" data-trip_id value="<%= trip.id%>">
                                                <% } %>
                                                    <span class="trip_city_text"><%=trip.city%></span>
                                        </td>
                                        <td>
                                            <span class="trip_start_text"><%=trip.start%></span>
                                        </td>
                                        <td>
                                            <span class="trip_start_text"><%=trip.end%></span>
                                        </td>
                                        <td>
                                            <span class="trip_country_text"><%=trip.country%></span>
                                        </td>
                                        <td>
                                            <a href="/my_results#<%=trip.id%>">view results</a>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-warning" data-remove_row >Remove</a>
                                        </td>                                         
                                    </tr>
                                    <%  }  %>
                            </tbody>
                        </table> 

                </div>

                <%                 if( typeof tripItResult !== 'undefined' && tripItResult)       {      %>
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>                        Trips loaded from TripIt. Do not forget to save.
                    </div>
                    <%                }             %>
                        <div id="save_call" class="alert alert-success  hidden" role="alert">
                            Do not forget to save.
                        </div>

                        <h4>Add new trip</h4>
                        <form class="form-inline" data-add_trip_form>
                            <div class="form-group">
                                <label class="sr-only" for="data-new_city">City</label>
                                <input type="text" value="London" class="form-control" id="data-new_city" data-new_city placeholder="City">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="data-new_country">Country</label>
                                <input type="text" value="United Kingdom" class="form-control" id="data-new_country" data-new_country placeholder="Country">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="data-new_start">Start </label>
                                <input type="text" value="2017-06-26" class="form-control" id="data-new_start" data-date_mask data-new_start placeholder="Start date YYYY-MM-DD">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="data-new_end">End date</label>
                                <input type="text" value="2017-07-31" class="form-control" id="data-new_end" data-date_mask data-new_end placeholder="End date YYYY-MM-DD">
                            </div>
                            <a href="#" id="more_trips" class="btn btn-default pull-right">Add this trip</a>
                        </form>
                        <h4>Or use your TripIt account</h4>
                        <div>
                            <a href="/tripitrequesttoken" id="Tripit" class="btn  btn-primary">TripIt</a>
                        </div>

                        <div class="clearfix" style="margin: 50px 0"></div>


                        <div class="text-center">
                            <a id="brb" href="#" class="btn btn-default btn-lg">Save</a>
                        </div>

                        <div class="clearfix" style="margin: 50px 0"></div>



        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-muted text-center">
                    For questions and suggestions please contact us at <a href="mailto:info@wanderlust.cloud">info@wanderlust.cloud</a>
                </p>
            </div>
        </footer>




        <script type='text/javascript' src="./js/jquery-latest.js"></script>
        <script type='text/javascript' src="./js/bootstrap.min.js"></script>
        <script src="./js/jquery.inputmask.bundle.min.js"></script>

        <script type="text/javascript">
            $(function () {

                $( "table" ).on( "click","[data-remove_row]", function(e) {
                    e.preventDefault();                    
                    $(this).parents("tr").remove();
                    if($("#save_call").hasClass("hidden")) {
                        $("#save_call").removeClass("hidden");
                        setTimeout(() => { $("#save_call").addClass("hidden") }, 2000);                    
                    }
                });

                $('[data-toggle="tooltip"]').tooltip()
                $('[data-date_mask]').inputmask("9999-99-99");

                $("#more_trips").click(function (e) {
                    e.preventDefault();
                    var city = $("[data-new_city]").val();
                    var country = $("[data-new_country]").val();
                    var start = $("[data-new_start]").val();
                    var end = $("[data-new_end]").val();

                    //check all;
                    var check = city && country && start && end;
                    if (check) {
                        var trip = createTrip(
                            city, 
                            start,
                            end,
                            country, 
                            $("[data-trip]").length + 1, 
                            randomString(32, '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ')
                        );
                        $('[data-trips]').prepend(trip);
                        $("#save_call").removeClass("hidden");
                        setTimeout(() => { $("#save_call").addClass("hidden") }, 2000);

                    } else {
                        alert("One field is empty");
                    }
                });


              $("#more_bands").click(function (e) {
                    e.preventDefault();
                    var band = $("[data-new_band]").val();

                    //check all;
                    if (band) {
                        var bandtr = createBand(
                            band,
                            $("[data-trip]").length + 1                            
                        );
                        $('[data-bands]').prepend(bandtr);
                        $("#save_call").removeClass("hidden");
                        setTimeout(() => { $("#save_call").addClass("hidden") }, 2000);

                    } else {
                        alert("Artist name field is empty");
                    }
                });
                

                $("#brb").click(function (e) {
                    e.preventDefault();
                    var rbody = {};
                    rbody.active = 1;
                    rbody.updateDate = Date();


                    var tripForms = $("[data-trip]");

                    var trips = [];
                    $.each(tripForms, function (i, el) {
                        el = $(el);
                        var trip = {};
                        trip.city = el.find("[data-trip_city]").val();
                        trip.country = el.find("[data-trip_country]").val();
                        trip.start = el.find("[data-trip_start]").val();
                        trip.end = el.find("[data-trip_end]").val();
                        if (el.find("[data-trip_id]").length > 0)
                            trip.id = el.find("[data-trip_id]").val();
                        else 
                           trip.id=randomString(32, '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ');     
                        trips.push(trip);
                    });

                    if (trips.length > 0)
                        rbody.trips = trips;
                    var bandForms = $("[data-band]");

                    var bands = [];
                    $.each(bandForms, function (i, el) {
                        el = $(el);
                        var band = {"band": el.find("[data-band_name_original]").val().trim()};
                        bands.push(band);
                    });

                    if (bands.length > 0)
                        rbody.bands = bands;

                    rbody.user_id = false;
                    if ($("[data-user_id]").length > 0 && $("[data-user_id]").val() != "")
                        rbody.user_id = $("[data-user_id]").val();
                    console.log(rbody);

                    $.ajax({
                        type: "POST",
                        url: "/save_user",
                        data: rbody,
                        complete: function (data) {
                            console.log(data);
                            window.location.reload(true);
                        },
                        dataType: 'json'
                    });
                });



            });

            function createBand(band,i) {
                return '<tr class="band" data-band>'+
                        '<td>'+
                            '<input type="hidden" '+
                                ' data-band_name_original' +
                                ' value="'+ band +'"> '+
                            '<span class="band_name">'+ band +'</span>'+
                        '</td>'+
                        '<td class="text-right">'+
                            '<a href="#" class="btn btn-warning" data-remove_row >Remove</a>'+
                        '</td>'+
                    '</tr>'+
                    ''; 
            }

            function createTrip(city, start, end, country, i, id) {

                return '<tr class="trip" data-trip>'
                    + '<td class="">'
                    + '<input type="hidden" data-trip_city value="' + city + '">'
                    + '<input type="hidden" data-trip_country value="' + country + '">'
                    + ' <input type="hidden" data-trip_start value="' + start + '">'
                    + '<input type="hidden" data-trip_end value="' + end + '">'
                    + '<input type="hidden" data-trip_id value="' + id + '">'
                    + '<span class="trip_city_text">' + city + '</span>'
                    + '</td>'
                    + '<td>'
                    + '<span class="trip_start_text">' + start + '</span> '
                    + '</td>'
                    + '<td>'
                    + '<span class="trip_end_text">' + end + '</span> '
                    + '</td>'
                    + '<td>'
                    + '<span class="trip_country_text">' + country + '</span> '
                    + '</td>'
                    + '<td>'
                    + '---'
                    + '</td>'
                    + '<td>'
                    +' <a href="#" class="btn btn-warning" data-remove_row >Remove</a>'
                    + '</td>'
                    + '</tr>'
                    + '';

            }


            function createCookie(name, value, days) {
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    var expires = "; expires=" + date.toGMTString();
                }
                else var expires = "";
                document.cookie = name + "=" + value + expires + "; path=/";
            }

            function readCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                }
                return null;
            }

            function eraseCookie(name) {
                createCookie(name, "", -1);
            }


            function randomString(length, chars) {
                //randomString(32, '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ');     
                var result = '';
                for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];
                return result;
            }
        </script>


</body>

</html>