<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Wanderlust
    </title>

    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">


    <link href="./css/main.css" rel="stylesheet" type="text/css">


</head>



<body>
    <a class="btn btn-default pull-right" style="margin: 20px 5px" href="/logout">Exit</a>
    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/my_results">My findings</a>
    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/my_trips">My trips</a>
    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/my_artists">My artists</a>    
    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/">Home</a>
        <div class="clearfix"><br></div>
        <div class="container">

            <%if(actions && actions.actionResult) { %>  
                <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%=actions.actionResult%>
                </div>
                <%}%>
                <%if(actions && actions.actionError) { %>  
                <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%=actions.actionError%>
                </div>
            <%}%>              



            <div class="text-center">
                <h1>Wanderlust</h1>
            </div>
            <p class="lead text-center">Some punchline text</p>
            <hr>
                <input type="hidden" data-user_id value="<%=session.authed_user._id%>">
                <div class="trips_block">
                    <h3>Artists</h3>

                    <% 
                var bands=[]; 
                if(session.authed_user.bands && session.authed_user.bands.length>0)
                bands=bands.concat(session.authed_user.bands);

                if( typeof spotifyResult !== 'undefined' && spotifyResult)  {

                    //console.log(spotifyResult[0].additional_info.total_info.genres.join('|'));


                    var clearBands=bands.map(bandObj=>bandObj.band);
                    var clearSpotifyResult=spotifyResult.filter(
                        (bandName) => {
                            return !clearBands.includes(bandName.band)
                        }
                    )
                    clearSpotifyResult.map((obj)=>{
                        obj.source="spotify";
                        obj.genresString=obj.additional_info.total_info.genres.join('|');
                        return obj;
                    });

                    bands=bands.concat(clearSpotifyResult);
           
                    
                }


            %>

                             
                        <table class="table" >
                            <thead>
                                <tr>    
                                    <th>
                                        <span class="btn btn-info btn-sm" data-select_all>Select All</span>
                                    </th>
                                    <th>
                                        Active
                                    </th>
                                    <th class="text-right">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-bands>
                                <%
                
                                for(i=0;i<bands.length; i++) {  
                                    
                                    var band=bands[i];
                                    var bandName="";
                                    if(typeof(band.additional_info)!=='undefined')
                                        bandName=band.additional_info.band_name_original;
                                    else 
                                        bandName=band.band;  

                                    if(typeof(band.genres)!=='undefined')
                                        genresString=band.genres.join('|');
                                    else 
                                        {
                                            if(band.genresString!=='undefined')
                                                genresString=band.genresString;
                                            else
                                                genresString="";
                                        }                                       

                                    var bandRelation=1;    
                                    if(typeof(band.relation)!=='undefined')
                                        bandRelation=band.relation;

                                    var bandSource="default"; 
                                     if(typeof(band.source)!=='undefined')
                                        bandSource=band.source;
                                   

                                %>
                                    <tr class="band relation_<%=bandRelation%> source_<%=bandSource%>" data-band>
                                        <td><input type="checkbox" data-mass_select></td>    
                                        <td>
                                            <input type="hidden"
                                             data-band_name_original 
                                             value="<%=bandName%>">

                                            <input type="hidden"
                                             data-band_source 
                                             value="<%=bandSource%>">    

                                            <input type="hidden"
                                             data-band_relation 
                                             value="<%=bandRelation%>">    

                                            <input type="hidden"
                                             data-band_genre_string 
                                             value="<%=genresString%>">   

                                            <span class="band_name" data-toggle="tooltip" data-placement="top" title="<%=genresString%>"><%=bandName%></span>
                                        </td>
                                        <td class="text-right">
                                            <span class="btn btn-warning" data-remove_row>Remove</span>
                                            <span class="btn btn-danger hidden" data-remove_selected>Remove selected</span>
                                        </td>                                        
                                    </tr>
                                    <%  }  %>
                            </tbody>
                        </table>

                </div>

                <%                 if( typeof spotifyResult !== 'undefined' && spotifyResult)       {      %>
                           <!-- <span data-hidden_reload_marker></span> -->

                    <%                }             %>

                        <h4>Add Artist</h4>
                        <form class="form-inline" data-add_band_form>
                            <div class="form-group">
                                <label class="sr-only" for="data-new_band">Artist</label>
                                <input type="text" value="" class="form-control" id="data-new_band" data-new_band placeholder="Artist">
                            </div>
                            <a href="#" id="more_bands" class="btn btn-default pull-right">Add this band</a>
                        </form>
                        <h4>Or use your Spotify account</h4>
                        <div>
                            <a href="<%=authUrl%>" id="Spotify" class="btn btn-primary action_link">Spotify</a>
                        </div>

                        <div class="clearfix" style="margin: 50px 0"></div>


                        <div class="text-center">
                            <a id="brb" href="#" class="btn btn-default btn-lg">Save</a>
                        </div>

                        <div class="clearfix" style="margin: 50px 0"></div>



        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-muted text-center">
                    For questions and suggestions please contact us at <a href="mailto:info@wanderlust.cloud">info@wanderlust.cloud</a>
                </p>
            </div>
        </footer>

    <div class="loading hidden">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>


        <script type='text/javascript' src="./js/jquery-latest.js"></script>
        <script type='text/javascript' src="./js/bootstrap.min.js"></script>
        <script src="./js/jquery.inputmask.bundle.min.js"></script>

        <script src="./js/main.js"></script>



</body>

</html>