<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Wanderlust.cloud - My gigs
    </title>

    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">


    <link href="./css/main.css" rel="stylesheet" type="text/css">


</head>



<body>

    <a class="btn btn-default pull-right" style="margin: 20px 5px" href="/logout">Exit</a>
    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/my_results">My gigs</a>
    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/my_trips">My trips</a>
    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/my_artists">My artists</a>    
    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/">Home</a>

    <div class="clearfix"><br></div>
    <div class="container" style="max-width: 500px">
    
        <%if(locals.actions && actions.actionResult) { %>  
            <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%=actions.actionResult%>
            </div>
            <%}%>
         <%if(locals.actions && actions.actionError) { %>  
            <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%=actions.actionError%>
            </div>
        <%}%>      

        <div class="text-center">
            <h1>Wanderlust.cloud - My gigs</h1>
        </div>
        <p class="lead text-center">On this page, you can see our recommendations for gigs you might like to attend during your upcoming trips.</p>
        <p>Recommendations are scored based on how close the results match your musical taste.
        <ul><li><strong>Tier 1</strong> recommendations are perfect matches: these are gigs of artists you actively listen to, which we assume means you quite like them.</li>
          <li><strong>Tier 2</strong> recommendations include artists that are very similar to the ones you typically listen to. These suggestions are a great occasions to discover new artists you are likely to enjoy.</li>
          <strong>Tier 3</strong> recommendations are based on genre similarity. These are hidden by default: there might be a few unexpected pearls here, but potentially also a lot of crap :)</li></ul>
          <p><strong>Please note</strong>: the system takes a bit of time to find suitable suggestions for you, so don't expect to see results here 2 seconds after you have added a new trip. No need to stress though, we'll email you when you have new suggestions to check out.</p>
        <hr>

        <div>


        <%         
        var trips=[];
        var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

        if(session && session.authed_user) {     
            trips=session.authed_user.trips || [];
        }

        trips.sort(function (a, b) {
                    if (new Date(a.start)<new Date(b.start)) return -1;
                    if (new Date(a.start)>new Date(b.start)) return 1;
                    return 0;
                });

        var trips_upcoming=trips.filter((t)=>{
             return !moment().isAfter(t.end, "day");
        });
        var trips_past=trips.filter((t)=>{
                return moment().isAfter(t.end, "day");
         });

        if(trips_upcoming.length>0) {
        %>
            <h3>Current & Upcoming trips (<%=trips_upcoming.length%>)</h3>
        <%
            echoTrips(trips_upcoming);
        }
        if(trips_past.length>0) {
        %>
            <div class="text-center">
                <button class="btn  btn-info" data-show_old>Toggle display of <%=trips_past.length%> past trips</button>
            </div>
            <br>
            <div class="old_trips" style="display:none;">
                <%
                echoTrips(trips_past);
                %>
            </div>    
            <br>
        <%
        }


        function echoTrips(tripsArr) {
        for(i=0;i<tripsArr.length; i++) {  
            var trip=tripsArr[i];
            var trip_matches=matches[trip.id] || [];
            
                trip_matches.sort(function (a, b) {
                    if (a.start_date < b.start_date) return -1;
                    if (a.start_date > b.start_date) return 1;
                    return 0;
                });
                /*
                trip_matches.sort(function (a, b) {
                    if (a.tier < b.tier) return -1;
                    if (a.tier > b.tier) return 1;
                    return 0;
                });     
                */        

                //matching by event, not band
                matchesByEventDatePlace=[];
                matchesByEvent=[];
                trip_matches.forEach(function(artistMatch,index) {



                    //{"venue_name":"","start_date":"","artists":[]};
                    foundMatchArr=matchesByEventDatePlace.filter(
                        ev=>{
                            if(ev.venue_name==artistMatch.venue_name && ev.start_date==artistMatch.start_date) 
                            return true
                        }
                    );
//debugger;
                    if(foundMatchArr.length==1) {
                        foundMatchArr[0].artists.push(artistMatch);
                        foundMatchArr[0].tier=Math.min(artistMatch.tier,foundMatchArr[0].tier);
                    }
                    if(foundMatchArr.length==0)    
                        matchesByEventDatePlace.push({"venue_name":artistMatch.venue_name,
                        "start_date":artistMatch.start_date,
                        "tier":artistMatch.tier,
                        "artists":[artistMatch]
                        });





                    
                    
                    

                    matchesByEvent.push(artistMatch);
                });


        %>
                <div class="panel panel-default trip_content">
                    <div class="panel-body">

                        <h4 id="<%=trip.id%>">
                            <span class="trip_city_text"><%=trip.city%></span>

                            <span class="trip_start_text"><%=trip.start%></span>

                            <span class="trip_start_text"><%=trip.end%></span>
                        </h4>                        
                        <% if(trip_matches) {
                            var hasTier3=false;
                            
                             %>

                            <% matchesByEventDatePlace.forEach(function(match) {
                                if(match.tier===3)
                                    hasTier3=true;
                                 %>
                            <div class="event_div tier_<%=match.tier%>">
                                <h5>Tier <%=match.tier%></h5>
                                <div class="event_text_block start_date"><span class="intro">Start:</span> <%=match.start_date%>
                                    <% var d=new Date(match.start_date).getDay(); %>
                                    (<%=days[d];%>)
                                </div>
                                <% match.artists.forEach(function(artist){ %>
                                
                                    <div class="event_text_block artist_name" 
                                    data-toggle="tooltip" data-placement="top" title="<%=artist.genres.join(', ');%>">
                                    <span class="intro">Artist/Band:</span> <%=artist.artist_name%>
                                    </div>
                                <% }); %>
                                <div class="event_text_block venue_name"><span class="intro">Venue:</span> <%=match.venue_name%></div>

                                <div class="event_text_block uri_link"><a class="btn btn-xs btn-info" target="_blank" href="<%=match.uri%>">More info (external link)</a></div>
                            </div>
                         <%  } ); %>
                         <% if(hasTier3) {
                            %>
                          <span class="show_hidden_tiers" data-show_tier3>Display also Tier 3 suggestions for gigs based on genre</span>
                          <% } %>
                         <% } %>

                    </div>
                </div>
                <%  } 
                }
                %>






        </div>

    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center">
                For questions and suggestions please contact us at <a href="mailto:info@wanderlust.cloud">info@wanderlust.cloud</a>
            </p>
        </div>
    </footer>




    <script type='text/javascript' src="./js/jquery-latest.js"></script>
    <script type='text/javascript' src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.inputmask.bundle.min.js"></script>
    
    <script src="./js/main.js"></script>



</body>

</html>