<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Wanderlust
    </title>

    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./css/main.css" rel="stylesheet" type="text/css">



</head>



<body>
    <a class="btn btn-default pull-right" style="margin: 20px 5px" href="/logout">Exit</a>
    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/my_results">My findings</a>
    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/my_trips">My trips</a>
    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/my_artists">My artists</a>
    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/">Home</a>
    <div class="clearfix"><br></div>
    <div class="container">

        <%if(actions && actions.actionResult) { %>
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%=actions.actionResult%>
            </div>
            <%}%>
                <%if(actions && actions.actionError) { %>
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <%=actions.actionError%>
                    </div>
                    <%}%>

                        <div class="text-center">
                            <h1>Wanderlust</h1>
                        </div>
                        <p class="lead text-center">Some punchline text</p>
                        <hr>
                        <input type="hidden" data-user_id value="<%=session.authed_user._id%>">
                        <div class="trips_block">
                            <h3>Trips</h3>

                            <% 
                var trips=[]; 
                if(session.authed_user.trips && session.authed_user.trips.length>0)
                trips=trips.concat(session.authed_user.trips);

                if( typeof tripItResult !== 'undefined' && tripItResult) 
                    trips=trips.concat(tripItResult);

                trips.sort(function (a, b) {
                            if (new Date(a.start)<new Date(b.start)) return -1;
                            if (new Date(a.start)>new Date(b.start)) return 1;
                            return 0;
                        });
            %>


                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                City
                                            </th>
                                            <th>
                                                Start
                                            </th>
                                            <th>
                                                Finish
                                            </th>
                                            <th>
                                                Country
                                            </th>
                                            <th>
                                                Results
                                            </th>
                                            <th>
                                                Actions
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody data-trips>
                                        <%
                
                for(i=0;i<trips.length; i++) {  
                    var trip=trips[i];
                    finished="";
                    if(new Date(trip.end)<new Date()) {
                        finished="trip_finished";
                    }

                %>
                                            <tr class="trip <%=finished%>"  data-trip>
                                                <td>
                                                    <input type="hidden" data-trip_city value="<%= trip.city%>">
                                                    <input type="hidden" data-trip_country value="<%= trip.country  %>">
                                                    <input type="hidden" data-trip_start value="<%= trip.start%>">
                                                    <input type="hidden" data-trip_end value="<%= trip.end%>">
                                                    <% if(trip.id) {%> <input type="hidden" data-trip_id value="<%= trip.id%>">
                                                        <% } %>
                                                            <span class="trip_city_text"><%=trip.city%></span>
                                                </td>
                                                <td>
                                                    <span class="trip_start_text"><%=trip.start%></span>
                                                </td>
                                                <td>
                                                    <span class="trip_start_text"><%=trip.end%></span>
                                                </td>
                                                <td>
                                                    <span class="trip_country_text"><%=trip.country%></span>
                                                </td>
                                                <td>
                                                    <a href="/my_results#<%=trip.id%>">view results</a>
                                                </td>
                                                <td>
                                                    <span class="btn btn-warning" data-remove_row>Remove</span>
                                                </td>
                                            </tr>
                                            <%  }  %>
                                    </tbody>
                                </table>

                        </div>

                        <%                 if( typeof tripItResult !== 'undefined' && tripItResult)       {      %>
                            <span data-hidden_reload_marker></span>
                            <%                }             %>

                                <h4>Add new trip</h4>
                                <form class="form-inline" data-add_trip_form>
                                    <div class="form-group">
                                        <label class="sr-only" for="data-new_city">City</label>
                                        <input type="text" value="" class="form-control" id="data-new_city" data-new_city placeholder="City">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="data-new_country">Country</label>
                                        <input type="text" value="" class="form-control" id="data-new_country" data-new_country placeholder="Country">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="data-new_start">Start </label>
                                        <input type="text" value="" class="form-control" id="data-new_start" data-date_mask data-new_start placeholder="Start date YYYY-MM-DD">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="data-new_end">End date</label>
                                        <input type="text" value="" class="form-control" id="data-new_end" data-date_mask data-new_end placeholder="End date YYYY-MM-DD">
                                    </div>
                                    <a href="#" id="more_trips" class="btn btn-default pull-right">Add this trip</a>
                                </form>
                                <h4>Or use your TripIt account</h4>
                                <div>
                                    <a href="/tripitrequesttoken" id="Tripit" class="btn btn-primary action_link">TripIt</a>
                                </div>

                                <div class="clearfix" style="margin: 50px 0"></div>


                                <div class="text-center">
                                    <a id="brb" href="#" class="btn btn-default btn-lg">Save</a>
                                </div>

                                <div class="clearfix" style="margin: 50px 0"></div>



    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center">
                For questions and suggestions please contact us at <a href="mailto:info@wanderlust.cloud">info@wanderlust.cloud</a>
            </p>
        </div>
    </footer>

    <div class="loading hidden">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>


    <script type='text/javascript' src="./js/jquery-latest.js"></script>
    <script type='text/javascript' src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.inputmask.bundle.min.js"></script>

    <script src="./js/main.js"></script>



</body>

</html>