<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Wanderlust
    </title>

    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">


    <link href="./css/main.css" rel="stylesheet" type="text/css">


</head>



<body>
    <a class="btn btn-default pull-right" style="margin: 20px 5px" href="/logout">Exit</a>
    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/my_results">My findings</a>
    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/my_trips">My trips</a>
    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/my_artists">My artists</a>    
    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/">Home</a>

    <div class="clearfix"><br></div>
    <div class="container" style="max-width: 500px">
    
        <%if(locals.actions && actions.actionResult) { %>  
            <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%=actions.actionResult%>
            </div>
            <%}%>
         <%if(locals.actions && actions.actionError) { %>  
            <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%=actions.actionError%>
            </div>
        <%}%>      

        <div class="text-center">
            <h1>Wanderlust</h1>
        </div>
        <p class="lead text-center">Some punchline text</p>
        <hr>

        <div>


        <%               
        var trips=session.authed_user.trips || [];

        var trips_upcoming=trips.filter((t)=>{
             return new Date(t.end).setHours(23,59)>=new Date()
        });
        var trips_past=trips.filter((t)=>{
            return new Date(t.end).setHours(23,59)<new Date()
            });

        if(trips_upcoming.length>0) {
        %>
            <h3>Current & Upcoming trips (<%=trips_upcoming.length%>)</h3>
        <%
            echoTrips(trips_upcoming);
        }
        if(trips_past.length>0) {
        %>
            <div class="text-center">
                <button class="btn  btn-info" data-show_old>Toggle display of <%=trips_past.length%> past trips</button>
            </div>
            <br>
            <div class="old_trips" style="display:none;">
                <%
                echoTrips(trips_past);
                %>
            </div>    
            <br>
        <%
        }


        function echoTrips(tripsArr) {
        for(i=0;i<tripsArr.length; i++) {  
            var trip=tripsArr[i];
            var trip_matches=matches[trip.id] || [];
            
        %>
                <div class="panel panel-default trip_content">
                    <div class="panel-body">

                        <h4 id="<%=trip.id%>">
                            <span class="trip_city_text"><%=trip.city%></span>

                            <span class="trip_start_text"><%=trip.start%></span>

                            <span class="trip_start_text"><%=trip.end%></span>
                        </h4>                        
                        <% if(trip_matches) {
                            var hasTier3=false;
                            
                             %>

                            <% trip_matches.forEach(function(match) {
                                if(match.tier===3)
                                    hasTier3=true;
                                 %>
                            <div class="event_div tier_<%=match.tier%>">
                                <h5>Tier <%=match.tier%></h5>
                                <div class="event_text_block start_date"><span class="intro">Start:</span> <%=match.start_date%></div>

                                <div class="event_text_block artist_name" 
                                data-toggle="tooltip" data-placement="top" title="<%=match.genres.join(', ');%>"
                                ><span class="intro">Band:</span> <%=match.artist_name%></div>
                                
                                <div class="event_text_block venue_name"><span class="intro">Venue:</span> <%=match.venue_name%></div>
                                <div class="event_text_block source_name"><span class="intro">Source:</span> <%=match.source%></div>

                                <div class="event_text_block uri_link"><a class="btn btn-xs btn-info" target="_blank" href="<%=match.uri%>">Link</a></div>
                            </div>
                         <%  } ); %>
                         <% if(hasTier3) {
                            %>
                          <span class="show_hidden_tiers" data-show_tier3>Toggle display of bands found by genre similarities</span>
                          <% } %>
                         <% } %>

                    </div>
                </div>
                <%  } 
                }
                %>






        </div>

    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center">
                For questions and suggestions please contact us at <a href="mailto:info@wanderlust.cloud">info@wanderlust.cloud</a>
            </p>
        </div>
    </footer>




    <script type='text/javascript' src="./js/jquery-latest.js"></script>
    <script type='text/javascript' src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.inputmask.bundle.min.js"></script>
    
    <script src="./js/main.js"></script>



</body>

</html>