<% 
var room_link="https://www.airbnb.com/rooms/";

var maximum=Math.min(data.length, max_fetch);
for(var j=0; j<maximum; j++) {
    var listing=data[j].listing;
    var price_object=data[j].pricing_quote;    
 
    %>
    <tr>
        <td>
            <div class="response">
                <div class="image_block">
                    <img style="border: 0;" class="img-responsive img-thumbnail" alt="<%=listing.name%>" src="<%=listing.picture_url%>">
                </div>
                <div class="text_block">

                    <div class="response_title">

                    </div>
                    <div class="response_price">
                        <%=price_object.rate.currency%>
                            <%=price_object.rate.amount%> (
                                <%=price_object.rate_type%>)
                    </div>
                    <div class="response_button">
                        <a href="<%=room_link+listing.id%>" target="_blank" class="button red_button">Book at Airbnb</a>
                    </div>
                </div>


            </div>
        </td>

        <%  
if(j+1<maximum) {
    j=j+1;
    var listing=data[j].listing;
    var price_object=data[j].pricing_quote;    
%>
            <td>
                <div class="response">
                    <div class="image_block">
                        <img style="border: 0;" class="img-responsive img-thumbnail" alt="<%=listing.name%>" src="<%=listing.picture_url%>">
                    </div>
                    <div class="text_block">

                        <div class="response_title">
                            <%=listing.name%>
                        </div>
                        <div class="response_price">
                            <%=price_object.rate.currency%>
                                <%=price_object.rate.amount%> (
                                    <%=price_object.rate_type%>)
                        </div>
                        <div class="response_button">
                            <a href="<%=room_link+listing.id%>" target="_blank" class="button red_button">Book at Airbnb</a>
                        </div>
                    </div>


                </div>
            </td>

            <%  } %>

                <%  if(j+1<maximum) {
    j=j+1;
    var listing=data[j].listing;
    var price_object=data[j].pricing_quote;    

%>
                    <td>
                        <div class="response">
                            <div class="image_block">
                                <img style="border: 0;" class="img-responsive img-thumbnail" alt="<%=listing.name%>" src="<%=listing.picture_url%>">
                            </div>
                            <div class="text_block">

                                <div class="response_title">
                                    <%=listing.name%>
                                </div>
                                <div class="response_price">
                                    <%=price_object.rate.currency%>
                                        <%=price_object.rate.amount%> (
                                            <%=price_object.rate_type%>)
                                </div>
                                <div class="response_button">
                                    <a href="<%=room_link+listing.id%>" target="_blank" class="button red_button">Book at Airbnb</a>
                                </div>
                            </div>


                        </div>
                    </td>

                    <%  } %>

    </tr>
    <%  } %>