<%
if(tripItResult) { 
var trips=tripItResult;
 
 

for(i=0;i<trips.length; i++) {  
    var trip=trips[i];
%>
  
    <div class="trip" data-trip>
        <label for="trip_<%=i%>">
            <input type="checkbox"  data-trip_active
                checked="checked" id="trip_<%=i%>" />
                <span class="trip_city_text"><%=trip.city%></span> 
                <span class="trip_country_text"><%=trip.country%></span> 
                <span class="trip_start_text"><%=trip.start%></span> 
                <span class="trip_start_text"><%=trip.end%></span> 
                </label>
        <input type="hidden" data-trip_city value="<%= trip.city%>">
        <input type="hidden" data-trip_country value="<%= trip.country  %>">
        <input type="hidden" data-trip_start value="<%= trip.start%>">
        <input type="hidden" data-trip_end value="<%= trip.end%>">
    </div>

    <%
}
}
    %>