<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        TravelPlay
    </title>

    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">


</head>

<body>




    <div class="container">



        <div class="row ">
            <div class="col-lg-12">
                <h1>TravelPlay</h1>
                <p class="lead"></p>
                <p>

                    <a class="button red_button" href="/tripitrequesttoken">Trips from Tripit</a>

                </p>
            </div>
        </div>

        <div class="row ">
            <div class="col-lg-12">

                <% 
                if(typeof(result)!="undefined" && result.error) {
                %>
              
                    <h1 class="this_is_error">
                        <%=result.error%>
                    </h1>
                    <%
                } else if (typeof(result)!="undefined"  && result.Trip) {
                    var trips=result.Trip;

                    for(i=0;i<trips.length; i++) {
                        var trip=trips[i];
                    %>
                    <h3>
                      City:  <%=trip.PrimaryLocationAddress.city%> (<%=trip.PrimaryLocationAddress.country%>)

                      | Start <span class="label label-success"> <%=trip.start_date%> </span>
                      | End <span class="label label-success"> <%=trip.end_date%> </span>
                    </h3>                    
                    <%
                    }
                } else if(typeof(result)!="undefined")
                {
                %>
                        <h1>
                            Strange. No events at all.
                        </h1>

        <hr>
        <div class="all_info"> 
            <button id="show_json" class="btn btn-info">Toggle JSON view</button>
            <div class="hidden all_info_json">
                     <%-JSON.stringify(result)%>
 
            </div> </div>
                 <%       }       %>



            </div>
        </div>

 
    </div>






    <footer class="footer">
        <hr>
        <p>&copy; 2016 Company, Inc.</p>
    </footer>

    </div>
    <!-- /container -->


    <style>
        .container {
            color:#4b5462;
            background-color: rgba(255, 255, 255, 0.6);
            margin-top:10%;          
             
        }
       
         .following {
    clear: both;
    padding: 10px 100px;
    border-bottom: 3px solid #e31212;
    min-height: 60px;         
         }
 .following.id_style {
     vertical-align: super;
    font-size: 12px;
 }
 .following .band_name {
     font-size: 24px;
 }
 .tickets_following .band_name {
     font-size: 14px;
 }

    .tickets_following {
     border-bottom: 1px solid #e31212;
          }


.related {
    text-align: left;
    clear:both;
    padding: 10px;
 }
 .id_style {
     vertical-align: super;
    font-size: 10px;
 }
 .band_name {
     font-size: 20px;
 }





.all_info {
    margin:20px;
}
.all_info_json {
    margin-top:10px;
}

.tickets_following.has_concert {
    font-size: 24px;
    background-color: white;
}
.this_is_error {
    color:#e31212;
    background: #FFF;
    border:2px solid black;
}
        .response {
            font-size: 16px;
            padding: 10px;
            border: #eee 2px solid;
            border-collapse: collapse;
            margin: 4px;
        }
        
        .responses td {
            vertical-align: top;
        }
        
        .response_price {
            color: #e31212;
            font-weight: bold;
            word-break: break-word;
        }
        
        .response_title {
            color: #281557;
            font-size: 22px;
            word-break: break-word;
        }
        
        .text_block {
            text-align: center;
            word-break: break-word;
        }
        
        .text_block div {
            margin: 10px 0;
        }
        
        .image_block {
            text-align: center;
        }
        
        .request {
            word-break: break-all;
            clear: both;
            padding: 70px 0;
        }
        
        .requests {
            padding: 0;
            margin: 0;
            list-style-type: none;
            margin: 60px 0;
        }
        
        .helper {
            display: inline-block;
            border-bottom: 1px dashed lightblue;
            margin: 10px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
        }
        
        .helper:hover {
            border-bottom: 1px dashed #FFF;
        }
        
        #subscribe_form label {
            margin: 10px 0;
        }
        
        #subscribe_form input {
            margin-bottom: 10px;
        }
        
        ul.what_ul {
            list-style-type: katakana;
            color: red;
        }
        
        ul.what_ul .content {
            color: #000;
        }
        
        .what_img_block {
            text-align: center;
        }
        
        .what_number {
            font-size: 41px;
            color: #FF0000;
        }
        
        .what_text {
            font-size: 28px;
        }
        
        .what_img {
            display: inline-block;
        }
        
        body {
            color: #FFF;
            background-color: #4b5462;
            background-position: 0px 0px;
            background-image: url(http://galaktika.hu/wp-content/uploads/2016/02/maxresdefault2.jpg);
            background-size: cover;
            background-repeat: repeat;
            text-align: center;
        }
        
        .jumbotron .lead {
            font-size: 32px;
        }
        
        .jumbotron h1 {
            font-size: 64px;
        }
        
        .button {
            border-radius: 4px;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            line-height: 24px;
            padding: 12px 24px;
            text-align: center;
            text-decoration: none !important;
            transition: opacity 0.1s ease-in;
            color: #fff;
        }
        
        .button:hover {
            color: #fff;
        }
        
        .button:focus {
            color: #fff;
        }
        
        .red_button {
            background-color: #e31212;
        }
        
        .red_button:hover {
            background-color: #ff0000;
        }
        
        .grey_button {
            background-color: #827f7f;
        }
        
        .grey_button:hover {
            background-color: #a7a5a5;
        }
        
        .big_button {
            width: 100%;
            padding: 18px 32px;
            font-size: 22px;
            margin: 20px 0;
        }
        
        .footer {
            border-top: 1px solid #4b5462;
            padding-top: 10px;
            color: #4b5462;
            margin: 20px 0;
            font-size: small;
            text-align: center;
                background-color: #FFF;
        }
    </style>


<script type='text/javascript' src="./js/jquery-latest.js"></script>

<script type='text/javascript' src="./js/bootstrap.min.js"></script>
 <script type="text/javascript">


    $(function () {

        $("#show_json").click(function (e) {
            $(this).parent().find(".all_info_json").toggleClass("hidden");
        });
        $(".show_help").click(function (e) {
            $("#what_to_do").toggleClass("hidden");
        });
         

    });



</script>



</body>

</html>