
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Wanderlust
    </title>

    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
    

    <style>
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}
.container .text-muted {
  margin: 20px 0;
}

.form-signin {
      max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.deactivated {
    background-color:#f5f5f5;
}

    </style>

</head>



<body>
    <a class="btn btn-default pull-right" style="margin: 20px 5px" href="/logout">Exit</a> <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/">Home</a> 

<div class="clearfix"><br></div>
    <div class="container" style="">
      
        

      <div class="text-center">
        <h1>Wanderlust.cloud</h1>
      </div>
      <p class="lead text-center">Helping you finding cool live gigs when you are on the road.</p>
    

      <hr>
<table class="table">
<thead>
    <th>Email</th>
    <th>Name & Surname</th>
    <th>Source</th>
    <th>Action</th>
</thead>
<tbody>          

            <% 
                if(locals.users) {
                    var result=users;
                    var checked="";
                    for(i=0; i<result.length; i++) {
                        var active_class="";
                        if(!result[i].active)
                            active_class="deactivated";
                            
                    
                %>     
                    <tr class=" <%=active_class%> " >
                        <td>
                            <span data-toggle="tooltip" data-placement="top" title="<%=result[i]._id%>" >
                            <%=result[i].email%> 
                            </span>
                        </td>
                        <td>                           
                              <%=result[i].surname%> <%=result[i].name%>
                        </td>   
                        <td>
                            Private                     
                        </td>
                        <td>
                            <form method="POST" class="form-inline text-left" action="/approve_user">

                            <input type="hidden" name="id" value="<%=result[i]._id%>">
                            <input type="hidden" name="email" value="<%=result[i].email%>">
                            <input type="hidden" name="password" value="<%=result[i].password%>">

                            <% if(result[i].approved) { %>
                                <input type="hidden" name="approved" value="0">
                                <input type="submit" class="btn btn-warning btn-sm" name="save" value="disapprove">
                            <% } else { %>
                                <input type="hidden" name="approved" value="1">
                                <input type="submit" class="btn btn-primary btn-sm " name="save" value="approve">                            
                            <% } %>
                                <input type="submit" class="btn btn-danger btn-sm btn-proxy" data-proxy-text="Sure?" name="delete" value="delete">
                        

                            

                            </form>                            
                        </td>
                    </tr>
                <% 
                    }
                }
                %>                    
</tbody>

</table>      

      
    </div>
<div class="container">    

    <h2 class="text-center">Managing Codes</h2>
   <hr>
<table class="table">
<thead>
    <th>Code</th>
    <th>Total</th>
    <th>Left</th>
    <th>Action</th>
</thead>
<tbody>          

            <% 
                if(locals.codes) {
                    var checked="";
                    var result=codes;
                    
                    for(i=0; i<result.length; i++) {
                        var active_class="";
                        if(!result[i].active)
                            active_class="deactivated";
                            
                    
                %>     
                    <tr class=" <%=active_class%> " >
                        <td>
                            <span data-toggle="tooltip" data-placement="top" title="<%=result[i]._id%>" >
                            <%=result[i].code%> 
                            </span>
                        </td>
                        <td>                           
                              <%=result[i].total%>
                        </td>   
                        <td>
                            <%=result[i].left%>                     
                        </td>
                        <td>
                            <form method="POST" class="form-inline text-left" action="/manage_code">

                            <input type="hidden" name="id" value="<%=result[i]._id%>">

                            <% if(result[i].active) { %>
                                <input type="hidden" name="active" value="0">
                                <input type="submit" class="btn btn-warning btn-sm" name="save" value="deactivate">
                            <% } else { %>
                                <input type="hidden" name="active" value="1">
                                <input type="submit" class="btn btn-primary btn-sm " name="save" value="activate">                            
                            <% } %>

                             
                        

                            

                            </form>                            
                        </td>
                    </tr>
                <% 
                    }
                }
                %>                    
</tbody>

</table>            
<h3>Add new code</h3>

<form class="form-inline" action="/manage_code" method="POST">
  <div class="form-group">
    <label class="sr-only"  for="code">Code</label>
    <input type="text" class="form-control" id="code" name="code" placeholder="New code name">
  </div>
  <div class="form-group">
    <label class="sr-only"  for="total">Total</label>
    <input type="text" class="form-control" id="total" name="total" placeholder="Total number of codes">
  </div>
  <input type="submit" class="btn btn-primary btn-md " name="new_code" value="Add new">
</form>


      
</div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted text-center">
            For questions and suggestions please contact us at <a href="mailto:info@wanderlust.cloud">info@wanderlust.cloud</a>
        </p>
      </div>
    </footer>




    <script type='text/javascript' src="./js/jquery-latest.js"></script>
    <script type='text/javascript' src="./js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(function () {
          $('[data-toggle="tooltip"]').tooltip()

    });
    $( document ).ready(function() {
        $(".btn-proxy").click(function(e){
            e.preventDefault();
            var text=$(this).attr("data-proxy-text");
            var answer=false;
            if(text) {
                answer = confirm(text);
            }
            if(answer) {
                $(this).parents("form").append('<input type="hidden" name="'+$(this).attr("name")+'" value="'+$(this).val()+'">')                
                $(this).parents("form").submit();
            }
        })
    });

     

    </script>



</body>

</html>